{% extends 'base.html.twig' %}

{% block title %}Mon compte - McKing{% endblock %}

{% block headerProduct %}
{% endblock %}
{% block content %}

<div class="contour2">

{% if app.user %}

    <h1 class="account-title">Mon Compte</h1>

    <div class="contour-account">

    <div class="account-case">
        <img src="{{ asset('assets/images/account.svg') }}" alt="">
        <a href="{{ path('account_info') }}">
        <p>Information du compte</p>
        </a>
    </div>
    <div class="account-case">
        <img src="{{ asset('assets/images/OrderHistory.svg') }}" alt="">
        <a href="{{ path('account_history') }}">
        <p>Historique des commandes</p>
        </a>
    </div>
    <div class="account-case">
        <img src="{{ asset('assets/images/MentionsLegales.svg') }}" alt="">
        <a href="{{ path('account_ml') }}">
        <p>Mentions Légales</p>
        </a>
    </div>
    <div class="account-case">
        <img src="{{ asset('assets/images/Pen.svg') }}" alt="">
        <a href="{{ path('account_cgv') }}">
        <p>CGV</p>
        </a>
    </div>
    {% if is_granted("ROLE_ADMIN") %}
    
    <div class="account-case">
        <img src="{{ asset('assets/images/Logo.svg') }}" alt="">
        <a href="{{ path('admin') }}">
        <p>Admin</p>
        </a>
    </div>

    {% endif %}
    <div class="account-case">
        <img src="{{ asset('assets/images/logout.svg') }}" alt="">
        <a href="{{ path('app_logout') }}">
        <p>Déconnexion</p>
        </a>
    </div>

    </div>

{% else %}
    
{% endif %}
</div>


{% endblock %}

{% block navBar %}

{% endblock %}
