{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - McKing{% endblock %}

{% block content %}

<div class="contour2">
    <div class="logo-loyalty">
        <img src="{{ asset('assets/images/Logo.svg') }}" alt="Logo McKing">
    </div>
    <a href="{{ path('account_info') }}" class="arrow"><img src="{{ asset('/assets/images/arrow.svg') }}" alt="retour"></a>
    <h1 class="info-title">Modifier mon mot de passe</h1>


    {% if notification %}
        <div class"password-info">
            <p>{{ notification }}</p>
        </div>
    {% endif %}
    {{ form_start(form) }}

    {# {{ dump(form.new_password.children.first) }} #}

        <div class="form-password">
            <label for="{{ form.old_password.vars.id }}" class="label-password">{{ form.old_password.vars.label }}</label>
            
            {{ form_widget(form.old_password, {
                'attr':{
                    'class':'input-password'
                }}) 
            }}
        </div>

        <div class="form-password">
            <label for="{{ form.new_password.children.first.vars.id }}" class="label-password">{{ form.new_password.children.first.vars.label }}</label>

            <input type="password" class="input-password" id="{{ form.new_password.children.first.vars.id }}" name="{{ form.new_password.children.first.vars.full_name }}" value="{{ form.new_password.children.first.vars.value }}">
        </div>

        <div class="form-password">
            <label for="{{ form.new_password.children.second.vars.id }}" class="label-password">{{ form.new_password.children.second.vars.label }}</label>

            <input type="password" class="input-password" id="{{ form.new_password.children.second.vars.id }}" name="{{ form.new_password.children.second.vars.full_name }}" value="{{ form.new_password.children.second.vars.value }}">
        </div>

        {% do form.new_password.setRendered %}
        <div class="submit-change-password">
        <button type="submit" class"submit-change-password-btn">{{ form.submit.vars.label }}</button>
        </div>
        {% do form.submit.setRendered %}


        {# <div class="alert alert-danger">{{ form_rest(form) }}</div> Permet de verifier que tout le form est pris en compte #}

    {{ form_end(form) }}
    
{% endblock %}

{% block navBar %}

{% endblock %}