{% extends 'base.html.twig' %}

{% block title %}Erreut de paiement - McKing{% endblock %}

{% block content %}
    {# {{ dump(order) }} #}

    <div class="contour2">
    <div class="logo-loyalty">
        <img src="{{ asset('assets/images/Logo.svg') }}" alt="Logo McKing">
    </div>
    <div class="confirm-content">
        <h1>Confirmation de commande</h1>
        <p><strong>{{ order.user.firstname }}</strong>
        <br>
        Le paiement de votre commande n°<strong>{{ order.reference }}</strong> a échoué.
        </p
        <hr>
        <p>Vous trouverez l'historique de vos commandes dans votre espace <a href="{{ path('account') }}">compte</a>.</p>

        <div class="return-home">
        <a href="{{ path('order') }}">Réessayer le paiement</a>
        </div>
    </div>
    </div>
{% endblock %}

{% block navBar %}

{% endblock %}
