{% extends 'base.html.twig' %}

{% block title %}{{ menus.name }}- McKing{% endblock %}

{% block headerProduct %}
{% endblock %}

{% block content %}
<div class="contour2">
    <a href="/commander/menus" class="arrow"><img src="{{ asset('/assets/images/arrow.svg') }}" alt=""></a>
    <div class="menu-content">
    <h2 class="title-menu">Menu {{ menus.name }}</h2>
        <img src="/uploads/{{ menus.visual }}" alt="{{ menus.name }}" class="menu-visual">

        





{{ form_start(form) }}





{###################### BURGERS ######################}
    <div class="list-menu">
    <div class="list-menu-title">
    <img src="{{ asset('/assets/images/arrowbottom.svg') }}" alt="" class="img-list-menu">
        <p>Burgers</p>
    </div>
        <div class="list-menu-content">
        {% for products in products %}
        {% if menus.name != "McKing Kids" and (products.category == 'Burgers' or (products.category == 'Snacks' and products.size != 0)) %}

        {% for child in form.burger %}
            {% if child.vars.label == products.name  %}           
                <div>
                {{ form_widget(child, {
                'attr': {
                'class': 'radio-button-class',
        } }) }}
            {% if menus.name == 'McKing' %}
                    <label for="{{ child.vars.id }}">{{ child.vars.label }} ({{ ((products.price + 330)/ 100)|number_format(2, ',', '.') }}€)</label>
               
            {% elseif menus.name == 'Maxi McKing' %}
                    <label for="{{ child.vars.id }}">{{ child.vars.label }} ({{ ((products.price + 380)/ 100)|number_format(2, ',', '.') }}€)</label>
            
            {% elseif menus.name == 'McKing Platine' %}
                    <label for="{{ child.vars.id }}">{{ child.vars.label }} ({{ ((products.price + 580)/ 100)|number_format(2, ',', '.') }}€)</label>
            {% endif %} 
                </div>
                {% endif %}
                {% endfor %}
        {% elseif menus.name == "McKing Kids" and products.kids == 1 and (products.category == 'Burgers' or products.category == 'Snacks') %}
        
        {% for child in form.burger %}
            {% if child.vars.label == products.name  %}
                <div>
                    {{ form_widget(child, {
                'attr': {
                'class': 'radio-button-class'
        } }) }}
                    <label for="{{ child.vars.id }}">{{ child.vars.label }}</label>
                </div>
                {% endif %}
                {% endfor %}

        {% endif %}
        {% endfor %}
        </div>
    </div>
{% do form.burger.setRendered %}


    {###################### SNACK ######################}
    {% if menus.name == 'McKing Platine' %}
    <div class="list-menu">
    <div class="list-menu-title">
    <img src="{{ asset('/assets/images/arrowbottom.svg') }}" alt="" class="img-list-menu">
        <p>Snack</p>
    </div>
        <div class="list-menu-content">
        {% for products in products %}
        {% if products.category == "Snacks" and products.size == 1 %}
        
        
        {% for child in form.snack %}
            {% if child.vars.label == products.name  %}
                <div>
                    {{ form_widget(child, {
                'attr': {
                'class': 'radio-button-class'
        } }) }}
                    <label for="{{ child.vars.id }}">{{ child.vars.label }}</label>
                </div>
                {% endif %}
                {% endfor %}


        {% endif %}
        {% endfor %}    
                </div>
    </div>
    {% endif %}

{% do form.snack.setRendered %}
    {###################### BOISSONS ######################}
    
    <div class="list-menu">
    <div class="list-menu-title">
    <img src="{{ asset('/assets/images/arrowbottom.svg') }}" alt="" class="img-list-menu">
        <p>Boissons</p>
    </div>
        <div class="list-menu-content">
        {% for products in products %}
        {% if menus.name == 'McKing' and (products.category == 'Boissons' and (products.size == 1 or products.size == 3)) %}
        
        {% for child in form.drink %}
            {% if child.vars.label == products.name  %}
                <div>
                    {{ form_widget(child, {
                'attr': {
                'class': 'radio-button-class'
        } }) }}
                    <label for="{{ child.vars.id }}">{{ child.vars.label }}</label>
                </div>
                {% endif %}
                {% endfor %}


        {% elseif (menus.name == 'Maxi McKing' or menus.name == 'McKing Platine') and (products.category == 'Boissons' and (products.size == 2 or products.size == 3)) %}
        
        {% for child in form.drink %}
            {% if child.vars.label == products.name  %}
                <div>
                    {{ form_widget(child, {
                'attr': {
                'class': 'radio-button-class'
        } }) }}
                    <label for="{{ child.vars.id }}">{{ child.vars.label }}</label>
                </div>
                {% endif %}
                {% endfor %}

        {% elseif menus.name == 'McKing Kids' and (products.category == 'Boissons' and (products.size == 0 or products.size == 3)) %}
        
        {% for child in form.drink %}
            {% if child.vars.label == products.name  %}
                <div>
                    {{ form_widget(child, {
                'attr': {
                'class': 'radio-button-class'
        } }) }}
                    <label for="{{ child.vars.id }}">{{ child.vars.label }}</label>
                </div>
                {% endif %}
                {% endfor %}

        {% endif %}
        {% endfor %}
        </div>
    </div>
{% do form.drink.setRendered %}
    {###################### SAUCES ######################}
    
    <div class="list-menu">
    <div class="list-menu-title">
    <img src="{{ asset('/assets/images/arrowbottom.svg') }}" alt="" class="img-list-menu">
        <p>Sauces</p>
    </div>
        <div class="list-menu-content">
        {% for products in products %}
        {% if products.category == 'Sauces' %}
        
        {% for child in form.sauce %}
            {% if child.vars.label == products.name  %}
                <div>
                    {{ form_widget(child, {
                'attr': {
                'class': 'radio-button-class'
        } }) }}
                    <label for="{{ child.vars.id }}">{{ child.vars.label }}</label>
                </div>
                {% endif %}
                {% endfor %}


        {% endif %}
        {% endfor %}
        </div>
    </div>
{% do form.sauce.setRendered %}
    
    {###################### DESSERT ######################}
    {% if menus.name == 'McKing Kids' %}
    <div class="list-menu">
    <div class="list-menu-title">
    <img src="{{ asset('/assets/images/arrowbottom.svg') }}" alt="" class="img-list-menu">
        <p>Dessert</p>
    </div>
        <div class="list-menu-content">
        {% for products in products %}
        {% if products.category == "Desserts" and products.kids == 1 %}
        
        {% for child in form.dessert %}
            {% if child.vars.label == products.name  %}
                <div>
                    {{ form_widget(child, {
                'attr': {
                'class': 'radio-button-class'
        } }) }}
                    <label for="{{ child.vars.id }}">{{ child.vars.label }}</label>
                </div>
                {% endif %}
                {% endfor %}

        {% endif %}
        {% endfor %}    
                </div>
    </div>
    {% endif %}

{% do form.dessert.setRendered %}
<div class="order-cart-add">
    
    <button type='submit' class="order-cart-btn-add">
 
                <img src="{{ asset('assets/images/Cart.svg') }}" alt="Ajouter au panier">
            </button>
        </div>
        {% do form.submit.setRendered %}

        
           
        
{{ form_end(form) }}
    </div>
    
    
    

</div>

<script>

var arrowbottom = document.querySelectorAll('.img-list-menu');
var titlelist = document.querySelectorAll('.list-menu-title');
var contentlist = document.querySelectorAll('.list-menu-content');

    for( let i = 0; i < arrowbottom.length ; i++ ){
    titlelist[i].addEventListener('click', () => {
        if(arrowbottom[i].getAttribute('src') === '/assets/images/arrowbottom.svg'){
            contentlist[i].style.display = 'none';
            arrowbottom[i].setAttribute("src", "{{ asset('/assets/images/arrowtop.svg') }}");
            
        } else {
            contentlist[i].style.display = 'flex';
            arrowbottom[i].setAttribute("src", "{{ asset('/assets/images/arrowbottom.svg') }}");
        }

})
} 

</script>



{% endblock %}

{% block navBar %}

{% endblock %}

