{% extends 'base.html.twig' %}

{% block title %}Inscription - McKing{% endblock %}


{% block content %}
<div class="register-logo-pc">
    <a href="{{ path('home') }}"><img src="{{ asset('assets/images/Logo.svg') }}"></a>
</div>
<div class="around around-register">  
<div class="container-register">
    <div class="register-logo">
        <a href="{{ path('home') }}"><img src="{{ asset('assets/images/Logo.svg') }}"></a>
    </div>
    <div class="picture-register">
        <img src="{{ asset('assets/images/inscription.png') }}" alt="Photo de produits">
    </div>  
    <div  class="content-register">
    
    <div class="alert-error-div">
    {% if form_errors(form.firstname) %}
    <div class="alert-info alert style-alert">{{ form_errors(form.firstname) }}</div>
    {% endif %}
     {% if form_errors(form.lastname) %}
    <div class="alert-info alert style-alert">{{ form_errors(form.lastname) }}</div>
    {% endif %}   
    {% if form_errors(form.email) %}
    <div class="alert-info alert style-alert">{{ form_errors(form.email) }}</div>
    {% endif %}
    {% if form_errors(form.password) %}
    <div class="alert-info alert style-alert">{{ form_errors(form.password) }}</div>
    {% endif %}
    {% if notification %}
    <div class="alert-info alert style-alert">{{ notification }}</div>
    {% endif %}
    </div>
    {{ form(form) }}
    <div class="connect">
    <p>Déjà membre ? <a href="{{ path('login') }}">Connectez-vous ici</a>.</p>
    </div>
    </div>
    
</div>

</div>

{% endblock content %}