{% extends 'base.html.twig' %}

{% block title %}Confirmation de commande - McKing{% endblock %}

{% block content %}
    {# {{ dump(order) }} #}

    <div class="contour2">
    <div class="logo-loyalty">
        <img src="{{ asset('assets/images/Logo.svg') }}" alt="Logo McKing">
    </div>
    <div class="confirm-content">
        <h1>Confirmation de commande</h1>
        <p><strong>{{ order.user.firstname }}</strong>
        <br>
        Votre commande n°<strong>{{ order.reference }}</strong> à bien été prise en compte.
        </p>
        <hr>
        <p>Vous trouverez l'historique de vos commandes dans votre espace <a href="{{ path('account') }}">compte</a>.</p>

        <div class="return-home">
        <a href="{{ path('home') }}">Retourner à l'accueil</a>
        </div>
    </div>
    </div>
{% endblock %}

{% block navBar %}

{% endblock %}