{% extends 'base.html.twig' %}


{% block title %}Mode de livraison - McKing{% endblock %}

{% block headerProduct %}
{% endblock %}

{% block content %}

<div class="contour3">
<a href="{{ path('order') }}" class="arrow"><img src="{{ asset('/assets/images/arrow.svg') }}" alt="retour"></a>

<div class="form-place">
    {{ form_start(form) }}

        {% for child in form.place %}
        <div class="btn-place">
        {{ form_widget(child, {
                    'attr': {
                    'class': 'radio-button-class',
                    'autocomplete': 'off'
            } }) }}
            <label for="{{ child.vars.id }}">{{ child.vars.label }}</label>
        </div>

        {% endfor %}

   
        {{ form_widget(form.submit, {
                    'id': 'checkout-button' }) }}
   {{ form_end(form) }} 

</div>



</div>


{% endblock %}

{% block navBar %}

{% endblock %}

{% block script %}
<script src="https://js.stripe.com/v3/"></script>
<script type='text/javascript'>
    var stripe = Stripe("pk_test_51MRcwIKaaFB9v3NjHI71WY92e7IxHKRyqZc0WVtrP4zvG4hhp5zgF6bnfxOY3MGdNpwfXIMT9BOiLfNmpSlyCkli00YREy8n2Z");
    var checkoutButton = document.getElementById("checkout-button");

    checkoutButton.addEventListener("click", function () {

        fetch("/commande/create-session/{{ reference }}", {
            method: "POST",
        })
        .then(function(response){
            return response.json();
        })
        .then(function(session){
            if(session.error == 'order'){
                window.location.replace('{{ path('order') }}');
            } else {
               return stripe.redirectToCheckout({sessionId: session.id}); 
            }
            
        })
        .then(function(result){
            if(result.error){
                alert(result.error.message);
            }
        })
        .catch(function(error){
            console.error("Error:", error);
        })
        
    })
    
</script>
    
{% endblock %}


   
